/*
 * NAV BAR
 */
nav .button {
    border: 0;
    background: #eb974e;
    -webkit-box-shadow: 0;
    -moz-box-shadow: 0;
    box-shadow: 0;
    font-size: 0.75em;
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-box-shadow: 0px 4px 0px #a74d46;
    -moz-box-shadow: 0px 4px 0px #a74d46;
    box-shadow: 0px 4px 0px #a74d46;
}

nav .button:hover {
    background: #e88a37;
    color: white;
}

nav .button:active {
    -webkit-box-shadow: 0px 4px 0px #a74d46;
    -moz-box-shadow: 0px 4px 0px #a74d46;
    box-shadow: 0px 4px 0px #a74d46;
    background: #e78129;
}