packages\*
CCC.ORM\obj\*
CCC.ORM\bin\*
CCC.UTILS\obj\*
CCC.UTILS\bin\*
Lync-Billing-V2\bin\*
Lync-Billing-V2\obj\*
LyncBillingBase\bin\*
LyncBillingBase\obj\*
Lync2013Plugin\bin\*
Lync2013Plugin\obj\*
LyncBillingUI\bin\*
LyncBillingUI\obj\*
LyncBillingTesting\*
PhoneCallsProcessor\bin\*
PhoneCallsProcessor\obj\*
PhoneCallsProcessorLoader\bin\*
PhoneCallsProcessorLoader\obj\*
Lync-Billing-V2.sln.DotSettings.user