LyncBillingBase/bin/Debug/LyncBillingBase.dll
LyncBillingBase/bin/Debug/LyncBillingBase.dll.config
LyncBillingBase/bin/Debug/LyncBillingBase.pdb
LyncBillingBase/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
LyncBillingBase/obj/Debug/LyncBillingBase.csproj.FileListAbsolute.txt
LyncBillingBase/obj/Debug/LyncBillingBase.dll
LyncBillingBase/obj/Debug/LyncBillingBase.pdb
LyncBillingBase/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
LyncBillingBase/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
LyncBillingBase/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
LyncBillingTesting/*
Lync-Billing-V2/bin/*
Lync-Billing-V2/obj/Debug/*
Lync2013Plugin/bin/Debug/Lync2013Plugin.dll
Lync2013Plugin/bin/Debug/Lync2013Plugin.pdb
Lync2013Plugin/bin/Debug/LyncBillingBase.dll
Lync2013Plugin/bin/Debug/LyncBillingBase.dll.config
Lync2013Plugin/bin/Debug/LyncBillingBase.pdb
Lync2013Plugin/bin/Debug/PhoneCallsProcessor.dll
Lync2013Plugin/bin/Debug/PhoneCallsProcessor.pdb
Lync2013Plugin/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Lync2013Plugin/obj/Debug/Lync2013Plugin.csproj.FileListAbsolute.txt
Lync2013Plugin/obj/Debug/Lync2013Plugin.csprojResolveAssemblyReference.cache
Lync2013Plugin/obj/Debug/Lync2013Plugin.dll
Lync2013Plugin/obj/Debug/Lync2013Plugin.pdb
Lync2013Plugin/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Lync2013Plugin/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Lync2013Plugin/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
PhoneCallsProcessor/bin/Debug/PhoneCallsProcessor.dll
PhoneCallsProcessor/bin/Debug/PhoneCallsProcessor.pdb
PhoneCallsProcessor/obj/Debug/PhoneCallsProcessor.csproj.FileListAbsolute.txt
PhoneCallsProcessor/obj/Debug/PhoneCallsProcessor.csprojResolveAssemblyReference.cache
PhoneCallsProcessor/obj/Debug/PhoneCallsProcessor.dll
PhoneCallsProcessor/obj/Debug/PhoneCallsProcessor.pdb
PhoneCallsProcessor/obj/Debug/PhoneCallsProcessor.pdb
PhoneCallsProcessorLoader/bin/Debug/LyncBillingBase.dll
PhoneCallsProcessorLoader/bin/Debug/LyncBillingBase.dll.config
PhoneCallsProcessorLoader/bin/Debug/LyncBillingBase.pdb
PhoneCallsProcessorLoader/bin/Debug/PhoneCallsProcessor.dll
PhoneCallsProcessorLoader/bin/Debug/PhoneCallsProcessor.pdb
PhoneCallsProcessorLoader/bin/Debug/PhoneCallsProcessorLoader.exe
PhoneCallsProcessorLoader/bin/Debug/PhoneCallsProcessorLoader.pdb
PhoneCallsProcessorLoader/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PhoneCallsProcessorLoader/obj/Debug/PhoneCallsProcessorLoader.csproj.FileListAbsolute.txt
PhoneCallsProcessorLoader/obj/Debug/PhoneCallsProcessorLoader.csprojResolveAssemblyReference.cache
PhoneCallsProcessorLoader/obj/Debug/PhoneCallsProcessorLoader.exe
PhoneCallsProcessorLoader/obj/Debug/PhoneCallsProcessorLoader.pdb
PhoneCallsProcessor/bin/Debug/PhoneCallsProcessor.dll
PhoneCallsProcessor/bin/Debug/PhoneCallsProcessor.pdb
PhoneCallsProcessor/obj/Debug/PhoneCallsProcessor.csproj.FileListAbsolute.txt
PhoneCallsProcessor/obj/Debug/PhoneCallsProcessor.csprojResolveAssemblyReference.cache
PhoneCallsProcessor/obj/Debug/PhoneCallsProcessor.dll
PhoneCallsProcessor/obj/Debug/PhoneCallsProcessor.pdb
PhoneCallsProcessorLoader/bin/Debug/PhoneCallsProcessor.dll
PhoneCallsProcessorLoader/bin/Debug/PhoneCallsProcessor.pdb
PhoneCallsProcessorLoader/bin/Debug/PhoneCallsProcessorLoader.exe
PhoneCallsProcessorLoader/bin/Debug/PhoneCallsProcessorLoader.pdb
PhoneCallsProcessorLoader/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PhoneCallsProcessorLoader/obj/Debug/PhoneCallsProcessorLoader.csproj.FileListAbsolute.txt
PhoneCallsProcessorLoader/obj/Debug/PhoneCallsProcessorLoader.csprojResolveAssemblyReference.cache
PhoneCallsProcessorLoader/obj/Debug/PhoneCallsProcessorLoader.exe
PhoneCallsProcessorLoader/obj/Debug/PhoneCallsProcessorLoader.pdb
PhoneCallsProcessor/bin/Debug/PhoneCallsProcessor.dll
PhoneCallsProcessor/bin/Debug/PhoneCallsProcessor.dll
PhoneCallsProcessor/bin/Debug/PhoneCallsProcessor.pdb
PhoneCallsProcessor/obj/Debug/PhoneCallsProcessor.dll
PhoneCallsProcessor/obj/Debug/PhoneCallsProcessor.pdb
PhoneCallsProcessorLoader/obj/Debug/PhoneCallsProcessorLoader.csproj.FileListAbsolute.txt
PhoneCallsProcessorLoader/bin/Debug/PhoneCallsProcessorLoader.exe.config
PhoneCallsProcessorLoader/bin/Debug/PhoneCallsProcessorLoader.vshost.exe.config
PhoneCallsProcessorLoader/bin/Debug/PhoneCallsProcessorLoader.vshost.exe.manifest
CCC.ORM/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CCC.UTILS/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
LyncBillingTesting/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CCC.ORM/bin/Debug/CCC.ORM.dll
CCC.ORM/bin/Debug/CCC.ORM.pdb
CCC.ORM/obj/Debug/CCC.ORM.csproj.FileListAbsolute.txt
CCC.ORM/obj/Debug/CCC.ORM.dll
CCC.ORM/obj/Debug/CCC.ORM.pdb
CCC.UTILS/bin/Debug/CCC.UTILS.dll
CCC.UTILS/bin/Debug/CCC.UTILS.pdb
CCC.UTILS/obj/Debug/CCC.UTILS.csproj.FileListAbsolute.txt
CCC.UTILS/obj/Debug/CCC.UTILS.dll
CCC.UTILS/obj/Debug/CCC.UTILS.pdb
Lync2013Plugin/bin/Debug/CCC.ORM.dll
Lync2013Plugin/bin/Debug/CCC.ORM.pdb
Lync2013Plugin/bin/Debug/CCC.UTILS.dll
Lync2013Plugin/bin/Debug/CCC.UTILS.pdb
Lync2013Plugin/bin/Debug/FastMember.dll
Lync2013Plugin/bin/Debug/FastMember.pdb
Lync2013Plugin/bin/Debug/FastMember.xml
Lync2013Plugin/Implementation/DB.cs
Lync2013Plugin/Implementation/Lync2013.cs
Lync2013Plugin/Lync2013Plugin.csproj
LyncBillingBase/bin/Debug/CCC.ORM.dll
LyncBillingBase/bin/Debug/CCC.ORM.dll.config
LyncBillingBase/bin/Debug/CCC.ORM.pdb
LyncBillingBase/bin/Debug/CCC.UTILS.dll
LyncBillingBase/bin/Debug/CCC.UTILS.pdb
LyncBillingBase/bin/Debug/FastMember.dll
LyncBillingBase/bin/Debug/FastMember.pdb
LyncBillingBase/bin/Debug/FastMember.xml
LyncBillingBase/obj/Debug/LyncBillingBase.csprojResolveAssemblyReference.cache
Lync2013Plugin/obj/Debug/build.force
PhoneCallsProcessor/obj/Debug/PhoneCallsProcessor.csproj.FileListAbsolute.txt
PhoneCallsProcessor/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
PhoneCallsProcessor/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
PhoneCallsProcessor/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
PhoneCallsProcessorLoader/bin/Debug/CCC.ORM.dll
PhoneCallsProcessorLoader/bin/Debug/CCC.ORM.pdb
PhoneCallsProcessorLoader/bin/Debug/CCC.UTILS.dll
PhoneCallsProcessorLoader/bin/Debug/CCC.UTILS.pdb
PhoneCallsProcessorLoader/obj/Debug/build.force
PhoneCallsProcessorLoader/obj/Debug/PhoneCallsProcessorLoader.csproj.FileListAbsolute.txt
CCC.ORM/bin/Debug/CCC.ORM.dll.config
CCC.ORM/bin/Debug/FastMember.dll
CCC.ORM/bin/Debug/FastMember.pdb
CCC.ORM/bin/Debug/FastMember.xml
CCC.ORM/bin/Debug/MongoDB.Bson.dll
CCC.ORM/bin/Debug/MongoDB.Bson.xml
CCC.ORM/bin/Debug/MongoDB.Driver.dll
CCC.ORM/bin/Debug/MongoDB.Driver.xml
CCC.ORM/obj/Debug/CCC.ORM.csproj.FileListAbsolute.txt
Lync2013Plugin/bin/Debug/CCC.ORM.dll.config
Lync2013Plugin/bin/Debug/MongoDB.Bson.dll
Lync2013Plugin/bin/Debug/MongoDB.Bson.xml
Lync2013Plugin/bin/Debug/MongoDB.Driver.dll
Lync2013Plugin/bin/Debug/MongoDB.Driver.xml
LyncBillingBase/bin/Debug/MongoDB.Bson.dll
LyncBillingBase/bin/Debug/MongoDB.Bson.xml
LyncBillingBase/bin/Debug/MongoDB.Driver.dll
LyncBillingBase/bin/Debug/MongoDB.Driver.xml
LyncBillingUI/bin/Antlr3.Runtime.dll
LyncBillingUI/bin/Antlr3.Runtime.pdb
LyncBillingUI/bin/AspNet.ScriptManager.bootstrap.dll
LyncBillingUI/bin/AspNet.ScriptManager.jQuery.dll
LyncBillingUI/bin/CCC.ORM.dll
LyncBillingUI/bin/CCC.ORM.dll.config
LyncBillingUI/bin/CCC.ORM.pdb
LyncBillingUI/bin/CCC.UTILS.dll
LyncBillingUI/bin/CCC.UTILS.pdb
LyncBillingUI/bin/Ext.Net.dll
LyncBillingUI/bin/Ext.Net.Utilities.dll
LyncBillingUI/bin/Ext.Net.Utilities.xml
LyncBillingUI/bin/Ext.Net.xml
LyncBillingUI/bin/LyncBillingBase.dll
LyncBillingUI/bin/LyncBillingBase.dll.config
LyncBillingUI/bin/LyncBillingBase.pdb
LyncBillingUI/bin/LyncBillingUI.dll
LyncBillingUI/bin/LyncBillingUI.dll.config
LyncBillingUI/bin/LyncBillingUI.pdb
LyncBillingUI/bin/Microsoft.AspNet.FriendlyUrls.dll
LyncBillingUI/bin/Microsoft.AspNet.FriendlyUrls.xml
LyncBillingUI/bin/Microsoft.AspNet.Web.Optimization.WebForms.dll
LyncBillingUI/bin/Microsoft.ScriptManager.MSAjax.dll
LyncBillingUI/bin/Microsoft.ScriptManager.WebForms.dll
LyncBillingUI/bin/Microsoft.Web.Infrastructure.dll
LyncBillingUI/bin/MongoDB.Bson.dll
LyncBillingUI/bin/MongoDB.Bson.xml
LyncBillingUI/bin/MongoDB.Driver.dll
LyncBillingUI/bin/MongoDB.Driver.xml
LyncBillingUI/bin/Newtonsoft.Json.dll
LyncBillingUI/bin/Newtonsoft.Json.xml
LyncBillingUI/bin/System.Web.Optimization.dll
LyncBillingUI/bin/System.Web.Optimization.xml
LyncBillingUI/bin/Transformer.NET.dll
LyncBillingUI/bin/Transformer.NET.xml
LyncBillingUI/bin/WebActivatorEx.dll
LyncBillingUI/bin/WebGrease.dll
LyncBillingUI/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
LyncBillingUI/obj/Debug/LyncBillingUI.csproj.FileListAbsolute.txt
LyncBillingUI/obj/Debug/LyncBillingUI.csprojResolveAssemblyReference.cache
LyncBillingUI/obj/Debug/LyncBillingUI.dll
LyncBillingUI/obj/Debug/LyncBillingUI.pdb
PhoneCallsProcessorLoader/bin/Debug/CCC.ORM.dll.config
PhoneCallsProcessorLoader/bin/Debug/MongoDB.Bson.dll
PhoneCallsProcessorLoader/bin/Debug/MongoDB.Bson.xml
PhoneCallsProcessorLoader/bin/Debug/MongoDB.Driver.dll
PhoneCallsProcessorLoader/bin/Debug/MongoDB.Driver.xml
PhoneCallsProcessor/obj/Debug/PhoneCallsProcessor.csproj.FileListAbsolute.txt
PhoneCallsProcessorLoader/obj/Debug/PhoneCallsProcessorLoader.csproj.FileListAbsolute.txt
LyncBillingUI/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
LyncBillingUI/obj/Debug/LyncBillingUI.csproj.FileListAbsolute.txt
LyncBillingUI/obj/Debug/LyncBillingUI.csprojResolveAssemblyReference.cache
LyncBillingUI/obj/Debug/LyncBillingUI.dll
LyncBillingUI/obj/Debug/LyncBillingUI.pdb
