<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="PhoneCallsTablesSection" type="Lync_Billing.ConfigurationSections.PhoneCallsTablesSection" />
    <section name="BillableCallTypesSection" type="Lync_Billing.ConfigurationSections.BillableCallTypesSection" />
    <section name="PDFReportColumnsDescriptionsSection" type="Lync_Billing.ConfigurationSections.PDFReportColumnsDescriptionsSection" />
    <section name="PDFReportsPropertiesSection" type="Lync_Billing.ConfigurationSections.PDFReportsPropertiesSection" />
  </configSections>

  <PhoneCallsTablesSection>
    <PhoneCallsTables>
      <add name="Lync2010" value="PhoneCalls2010" description="The phonecalls table for Microsoft Lync 2010" />
      <add name="Lync2013" value="PhoneCalls2013" description="The phonecalls table for Microsoft Lync 2013"/>
    </PhoneCallsTables>
  </PhoneCallsTablesSection>

  <BillableCallTypesSection>
    <BillableTypes>
      <add name="LOCAL" value="1"/>
      <add name="NATIONAL-FIXEDLINE" value="2"/>
      <add name="NATIONAL-MOBILE" value="3"/>
      <add name="INTERNATIONAL-FIXEDLINE" value="4"/>
      <add name="INTERNATIONAL-MOBILE" value="5"/>
      <add name="TOLL-FREE" value="6"/>
      <add name="FIXEDLINE" value="21"/>
      <add name="PUSH-TO-TALK" value="19"/>
      <add name="MOBILE" value="22"/>
      <add name="NGN" value="24"/>
    </BillableTypes>
  </BillableCallTypesSection>

  <PDFReportColumnsDescriptionsSection>
    <PDFReportColumnsDescriptions>
      <add name="SessionIdTime" description="Session Time"/>
      <add name="SessionIdSeq" description="Session Seq"/>
      <add name="ResponseTime" description="Date"/>
      <add name="SessionEndTime" description="Session End Time"/>
      <add name="SourceUserUri" description="Email Address"/>
      <add name="ChargingParty" description="Email Address"/>
      <add name="SourceNumberUri" description="Telephone No"/>
      <add name="DestinationNumberUri" description="Destination"/>
      <add name="Duration" description="Duration"/>
      <add name="marker_CallToCountry" description="Country"/>
      <add name="marker_CallType" description="Call Type"/>
      <add name="marker_CallCost" description="Cost"/>
      <add name="ui_MarkedOn" description="Marked On"/>
      <add name="ui_UpdatedByUser" description="Updated By"/>
      <add name="ui_CallType" description="Marked As"/>
      <add name="ac_DisputeStatus" description="Dispute Status"/>
      <add name="ac_DisputeResolvedOn" description="Dispute Resolved On"/>
      <add name="AD_UserID" description="Group No."/>
      <add name="AD_DisplayName" description="Name"/>
      <add name="BusinessCallsCost" description="Business"/>
      <add name="PersonalCallsCost" description="Personal"/>
      <add name="UnmarkedCallsCost" description="Unallocated"/>
    </PDFReportColumnsDescriptions>
  </PDFReportColumnsDescriptionsSection>

  <PDFReportsPropertiesSection>
    <PDFReportsProperties>
      <!-- 
        * columnsNames refer to the list of columns arranged in the pdf report - the schema - which resemble the database table from which the data is fetched.
        * columnsWidths refer to the widths of these listed columns, ordered with respect to the sequence of the listed columns.
      -->
      <add reportName="UserPhoneCalls" columnsNames="ResponseTime,marker_CallToCountry,DestinationNumberUri,Duration,marker_CallCost,ui_CallType" columnsWidths="6,3,5,3,3,3" />
      <add reportName="AccountingSummary" columnsNames="AD_UserID,ChargingParty,AD_DisplayName,BusinessCallsCost,PersonalCallsCost,UnmarkedCallsCost" columnsWidths="4,6,6,3,3,4" />
      <add reportName="AccountingDetailed" columnsNames="ResponseTime,marker_CallToCountry,DestinationNumberUri,Duration,marker_CallCost,ui_CallType" columnsWidths="7,4,6,4,3,4" />
    </PDFReportsProperties>
  </PDFReportsPropertiesSection>

  <appSettings>
    <add key="LocalDomainURI" value="GC://10.1.0.230" />
    <add key="LocalDomainUser" value="RND-Bind" />
    <add key="LocalDomainPassword" value="RNDbind12" />
    <add key="ResourceDomainURI" value="GC://10.1.0.224" />
    <add key="ResourceDomainUser" value="LyncBilling" />
    <add key="ResourceDomainPassword" value="Saddam123!" />
    <add key="ADSearchFilter" value="(&amp;(objectClass=user)(objectCategory=person)(mail={0}))" />
    <add key="MailHost" value="10.1.1.128" />
    <add key="ReplyTo" value="helpdesk@ccc.gr" />
  </appSettings>
  
   <connectionStrings>
   <add name="LyncConnectionString" connectionString="Provider=SQLOLEDB.1;Data Source=10.1.0.133;Persist Security Info=True;Password='=25_ar;p1100';User ID=sa;Initial Catalog=tBill" />
     <!--  <add name="LyncConnectionString" connectionString="Provider=SQLOLEDB.1;Data Source=10.1.60.55;Persist Security Info=True;Password='=25_ar;p1100';User ID=sa;Initial Catalog=tBill" /> --> 
  </connectionStrings>
  
</configuration>