<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <connectionStrings>
    <!-- Please add the connection string with the name set to "ConnectionString" -->
    <clear />
    
    <add name="ConnectionString"
    	connectionString="Provider=SQLOLEDB.1;Data Source=hostname;Persist Security Info=True;Password='password';User ID=dbuser;Initial Catalog=tBill" />
  </connectionStrings>
</configuration>
