<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="LocalDomainURI" value="GC://10.1.0.230" />
    <add key="LocalDomainUser" value="RND-Bind" />
    <add key="LocalDomainPassword" value="RNDbind12" />
    <add key="ResourceDomainURI" value="GC://10.1.0.224" />
    <add key="ResourceDomainUser" value="LyncBilling" />
    <add key="ResourceDomainPassword" value="Saddam123!" />
    <add key="ADSearchFilter" value="(&amp;(objectClass=user)(objectCategory=person)(mail={0}))" />
    <add key="MailHost" value="10.1.1.128" />
    <add key="ReplyTo" value="helpdesk@ccc.gr" />
    <add key="NotificationsEmail" value="ebill@ccc.gr" />
  </appSettings>
</configuration>