<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <configSections>
    <section name="CallProcessorPluginsSection"
             type="PhoneCallsProcessorLoader.ConfigurationSections.CallProcessorPluginsSection, PhoneCallsProcessorLoader" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <CallProcessorPluginsSection>
    <CallProcessorPlugins>
      <add Name="Lync2013" Version="1.0" Enabled="True" Path="d:\\plugins\\Lync2013Plugin.dll" />
    </CallProcessorPlugins>
  </CallProcessorPluginsSection>

  <!-- Please add the connection string with the name set to "ConnectionString" -->
  <connectionStrings>
    <!--  <add name="LyncConnectionString" connectionString="Provider=SQLOLEDB.1;Data Source=10.1.0.133;Persist Security Info=True;Password='=25_ar;p1100';User ID=sa;Initial Catalog=tBill" /> -->
    <add name="ConnectionString"
         connectionString="Provider=SQLOLEDB.1;Data Source={HOSTNAME};Persist Security Info=True;Password={PASSWORD};User ID={DATABASE_USER};Initial Catalog={DATABASE_NAME}" />
  </connectionStrings>

</configuration>