<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="LyncBillingUI.SiteMaster" %>

<!DOCTYPE html>

<html lang="en">
    <head runat="server">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%: Page.Title %> | iBill</title>
        
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        
        <%--<link rel="stylesheet" href="/Content/bootstrap.noconflict.css" />--%>
        <link rel="stylesheet" href="/Content/Site.css" />

        <asp:ContentPlaceHolder ID="HeaderContent" runat="server"></asp:ContentPlaceHolder>
    </head>

    <body>
        <form runat="server">
            <%--<ext:ResourceManager ID="ExtResourceManager" runat="server" Theme="Gray" />--%>
            <ext:ResourceManager ID="ExtResourceManager" runat="server" DirectMethodNamespace="ExtOperationsNamespace" />

            <asp:HiddenField ID="ThisPageReferrer" runat="server" Value="" />

            <div class="ibill-masthead" id="top" role="banner">
                <div class="container">
                    <nav class="ibill-nav">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a id="home-tab" class="ibill-nav-item active" href="<%= global_asax.APPLICATION_URL %>/">iBILL</a>
                            </div>

                            <div id="navbar" class="navbar-collapse collapse">
                                <% if(CurrentSession != null) { %>
                                    <%--<ul class="nav navbar-nav">--%>
                                    <ul class="nav navbar-nav navbar-right">

                                        <%-- THE ELEVATED ACCESS MENU--%>
                                        <% bool higher_access = (CurrentSession.IsDeveloper || CurrentSession.IsSystemAdmin || CurrentSession.IsSiteAdmin || CurrentSession.IsSiteAccountant || CurrentSession.IsDepartmentHead) && (CurrentSession.ActiveRoleName == normalUserRoleName);
                                            if (higher_access) 
                                            { %>
                                                <%-- THE MENU IS CONSTRUCTED FROM THE BACKEND --%>
                                                <%= UiElevateAccessDropdown %>
                                        <% } %>


                                        <%-- THE SWTICH TO DELEGEES MENU --%>
                                        <% if ((CurrentSession.IsDelegee) && (CurrentSession.ActiveRoleName == normalUserRoleName))
                                           { %>
                                                <%-- THE MENU IS CONSTRUCTED FROM THE BACKEND --%>
                                                <%= UiSwtichToDelegeeDropdown %>
                                        <% } %>


                                        <%-- THE USER MENU --%>
                                        <% if (CurrentSession.ActiveRoleName == normalUserRoleName)
                                           { %>
                                            <li id="user-menu-tab" class="dropdown">
                                                <a href="#" class="dropdown-toggle ibill-nav-dropdown" data-toggle="dropdown" role="button" aria-expanded="false"><%= DisplayName %>&nbsp;<span class="caret"></span></a>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li class="dropdown-header">Manage</li>
                                                    <li><a href="<%= global_asax.APPLICATION_URL %>/User/PhoneCalls">Phone Calls</a></li>
                                                    <li><a href="<%= global_asax.APPLICATION_URL %>/User/AddressBook">Address Book</a></li>
                                                    <li class="divider"></li>
                                                    <li class="dropdown-header">History</li>
                                                    <li><a href="<%= global_asax.APPLICATION_URL %>/User/Bills">Bills History</a></li>
                                                    <li><a href="<%= global_asax.APPLICATION_URL %>/User/History/PhoneCalls">Calls History</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="<%= global_asax.APPLICATION_URL %>/User/Statistics">Statistics</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="<%= global_asax.APPLICATION_URL %>/User/TelephonyRates">Telephony Rates</a></li>
                                                
                                                    <% if(CurrentSession.ActiveRoleName == normalUserRoleName) { %>
                                                        <li class="divider"></li>
                                                        <li><a href="<%= global_asax.APPLICATION_URL %>/Logout">Logout</a></li>
                                                    <% } %>
                                                </ul>
                                            </li>
                                        <% } %>

                                        <% else if (CurrentSession.ActiveRoleName != normalUserRoleName && CurrentSession.ActiveRoleName != userDelegeeRoleName) 
                                           { %>
                                            <%= GetUiElevatedAccessDropDownMenu(CurrentSession.ActiveRoleName) %>
                                            
                                            <li><a class="ibill-nav-item" href="<%= global_asax.APPLICATION_URL %>/Authorize?action=drop"><span class="shutdown"></span>&nbsp;Drop Access</a></li>    

                                            <% if (CurrentSession.ActiveRoleName == siteAccountantRoleName) 
                                               {%>
                                                <li id="site-accountant-menu-tab" class="dropdown">
                                                    <a href="#" class="dropdown-toggle ibill-nav-dropdown" data-toggle="dropdown" role="button" aria-expanded="false">Navigation&nbsp;<span class="caret"></span></a>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li><a href="<%= global_asax.APPLICATION_URL %>/Site/Accounting/Dashboard">Dashboard</a></li>
                                                        <li class="divider"></li>
                                                        <li class="dropdown-header">Manage</li>
                                                        <li><a href="<%= global_asax.APPLICATION_URL %>/Site/Accounting/DisputedCalls">Disputed Phone Calls</a></li>
                                                        <li class="divider"></li>
                                                        <li class="dropdown-header">Notifications</li>
                                                        <li><a href="#">Billing Cycles</a></li>
                                                        <li class="divider"></li>
                                                        <li class="dropdown-header">Reports</li>
                                                        <li><a href="<%= global_asax.APPLICATION_URL %>/Site/Accounting/MonthlyReports">Monthly Reports</a></li>
                                                        <li><a href="<%= global_asax.APPLICATION_URL %>/Site/Accounting/PeriodicalReports">Periodical Reports</a></li>
                                                    </ul>
                                                </li>
                                            <% } %>
                                        <% } %>
                                    </ul>
                                <% } else { %>
                                    <ul class="nav navbar-nav navbar-right">
                                        <a id="login-tab" class="ibill-nav-item" href="<%= global_asax.APPLICATION_URL %>/Login">Login</a>
                                    </ul>
                                <% } %>        
                            </div><!-- ./navbar -->
                        </div><!-- ./container-fluid -->
                    </nav>
                </div><!-- ./container -->
            </div><!-- ./ibill-masthead -->

            <br />
            <br />

            <div class="container">
                <asp:ContentPlaceHolder ID="MainContent" runat="server">
                </asp:ContentPlaceHolder>
                
                <br />
                <hr />

                <footer role="contentinfo">
                    <p>&copy; <%: DateTime.Now.Year %> - CCC iBill</p>
                </footer>
            </div>
        </form>

        <!-- SCRIPTS -->
        <script type="text/javascript" src="<%= global_asax.APPLICATION_URL %>/Scripts/modernizr-2.8.3.js"></script>
        <script type="text/javascript" src="<%= global_asax.APPLICATION_URL %>/Scripts/jquery-1.11.2.min.js"></script>
        <script type="text/javascript" src="<%= global_asax.APPLICATION_URL %>/Scripts/bootstrap.min.js"></script>

        <%--<script type="text/javascript" src="<%= global_asax.APPLICATION_URL %>/Scripts/vendor/jquery.js"></script>
        <script type="text/javascript" src="<%= global_asax.APPLICATION_URL %>/Scripts/foundation.min.js"></script>--%>
        <script type="text/javascript" src="<%= global_asax.APPLICATION_URL %>/Scripts/extjs-helpers.js"></script>

        <script type="text/javascript">
            $(window).load(function () {
                $('head').prepend("<link rel='stylesheet' href='<%= global_asax.APPLICATION_URL %>/Content/bootstrap.noconflict.css' />");
            });

            //$(document).ready(function () {
            //    var referrer = $("#ThisPageReferrer").val();

            //    //if we are viewing the user pages, select the user-tab from the dropdown menu and the respective sidebar link
            //    if (referrer.search("user") != -1) {
            //        $('ul.nav>li.active').removeClass('active');

            //        if (referrer.search("user_dashboard") != -1) {
            //            $('#home-tab').addClass('active');
            //        } else if (referrer.search("user") != -1) {
            //            $('#user-menu-tab>a').addClass('active');
            //        }

            //        //Add a "selected" class to the sidebar button with the PAGE_NAME as it's id
            //        //$("#" + referrer.toString()).addClass("selected");
            //        var starting_index = referrer.search("ui");
            //        var button_id = referrer.substr(starting_index, referrer.length);
            //        $("#" + button_id).addClass("selected");
            //    }
            //    else if (referrer.search("login") != -1) {
            //        $("#login-tab").addClass("active");
            //    }
            //    else {
            //        $('#home-tab').addClass('active');
            //    }

            //    $('#toggle-button').click(function () {
            //        $("#toggle-block").slideToggle("slow");
            //    });
            //});
        </script>


        <asp:ContentPlaceHolder ID="EndOfBodyScripts" runat="server">
        </asp:ContentPlaceHolder>
    </body>
</html>