<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="LyncBillingUI.SiteMaster" %>

<!DOCTYPE html>

<html lang="en">
    <head runat="server">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%: Page.Title %> | iBill</title>
        
        <webopt:bundlereference runat="server" path="~/Content/css" />
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

        <asp:ContentPlaceHolder ID="HeaderContent" runat="server"></asp:ContentPlaceHolder>
    </head>

    <body>
        <form runat="server">
            <ext:ResourceManager ID="ExtResourceManager" runat="server" />

            <%--<div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" runat="server" href="~/">iBill</a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a runat="server" href="~/User/Dashboard">User Dashboard</a></li>
                            <li><a runat="server" href="~/User/Manage/Phonecalls">Manage Phonecalls</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <br />
            <br />--%>

            <div class="ibill-masthead">
                <div class="container">
                    <nav class="ibill-nav">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="ibill-nav-item active" href="#">iBILL</a>
                            </div>

                            <div id="navbar" class="navbar-collapse collapse">
                                <%--<ul class="nav navbar-nav">--%>
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle ibill-nav-dropdown" data-toggle="dropdown" role="button" aria-expanded="false">Ahmad <span class="caret"></span></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                            <li class="divider"></li>
                                            <li class="dropdown-header">Nav header</li>
                                            <li><a href="#">Separated link</a></li>
                                            <li><a href="#">One more separated link</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Logout</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>

            <br /><br />

            <div class="container">
                <asp:ContentPlaceHolder ID="MainContent" runat="server">
                </asp:ContentPlaceHolder>
            </div>
        </form>

        <footer class="footer">
            <div class="container">
                <p class="text-muted">&copy; <%: DateTime.Now.Year %> - My ASP.NET Application</p>
            </div>
        </footer>

        <!-- SCRIPTS -->
        <script type="text/javascript" src="/Scripts/modernizr-2.6.2.js"></script>
        <script type="text/javascript" src="/Scripts/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="/Scripts/bootstrap.min.js"></script>
        <script type="text/javascript" src="/Scripts/respond.min.js"></script>
        <script type="text/javascript" src="/Scripts/browserdetector.js"></script>
        <script type="text/javascript" src="/Scripts/extjs-helpers.js"></script>
    </body>
</html>


<%--<asp:ScriptManager runat="server">
    <Scripts>
        <!-- To learn more about bundling scripts in ScriptManager see http://go.microsoft.com/fwlink/?LinkID=301884 -->
        <!-- Framework Scripts -->
        <asp:ScriptReference Name="MsAjaxBundle" />
        <asp:ScriptReference Name="jquery" />
        <asp:ScriptReference Name="bootstrap" />
        <asp:ScriptReference Name="respond" />
        <asp:ScriptReference Name="WebForms.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebForms.js" />
        <asp:ScriptReference Name="WebUIValidation.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebUIValidation.js" />
        <asp:ScriptReference Name="MenuStandards.js" Assembly="System.Web" Path="~/Scripts/WebForms/MenuStandards.js" />
        <asp:ScriptReference Name="GridView.js" Assembly="System.Web" Path="~/Scripts/WebForms/GridView.js" />
        <asp:ScriptReference Name="DetailsView.js" Assembly="System.Web" Path="~/Scripts/WebForms/DetailsView.js" />
        <asp:ScriptReference Name="TreeView.js" Assembly="System.Web" Path="~/Scripts/WebForms/TreeView.js" />
        <asp:ScriptReference Name="WebParts.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebParts.js" />
        <asp:ScriptReference Name="Focus.js" Assembly="System.Web" Path="~/Scripts/WebForms/Focus.js" />
        <asp:ScriptReference Name="WebFormsBundle" />
    </Scripts>
</asp:ScriptManager>--%>