<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="PhoneCallsTablesSection" type="LyncBillingBase.Conf.PhoneCallsTablesSection" />
    <section name="BillableCallTypesSection" type="LyncBillingBase.Conf.BillableCallTypesSection" />
    <section name="PDFReportColumnsDescriptionsSection" type="LyncBillingBase.Conf.PdfReportColumnsDescriptionsSection" />
    <section name="PDFReportsPropertiesSection" type="LyncBillingBase.Conf.PdfReportsPropertiesSection" />
    <section name="extnet" type="Ext.Net.GlobalConfig" requirePermission="false" />
  </configSections>

  <PhoneCallsTablesSection>
    <PhoneCallsTables>
      <add name="Lync2010" value="PhoneCalls2010" description="The phonecalls table for Microsoft Lync 2010" />
      <add name="Lync2013" value="PhoneCalls2013" description="The phonecalls table for Microsoft Lync 2013" />
    </PhoneCallsTables>
  </PhoneCallsTablesSection>

  <BillableCallTypesSection>
    <BillableTypes>
      <add name="LOCAL" value="1" />
      <add name="NATIONAL-FIXEDLINE" value="2" />
      <add name="NATIONAL-MOBILE" value="3" />
      <add name="INTERNATIONAL-FIXEDLINE" value="4" />
      <add name="INTERNATIONAL-MOBILE" value="5" />
      <add name="FIXEDLINE" value="21" />
      <add name="MOBILE" value="22" />
    </BillableTypes>
  </BillableCallTypesSection>

  <PDFReportColumnsDescriptionsSection>
    <PDFReportColumnsDescriptions>
      <add name="SessionIdTime" description="Session Time" />
      <add name="SessionIdSeq" description="Session Seq" />
      <add name="ResponseTime" description="Date" />
      <add name="SessionEndTime" description="Session End Time" />
      <add name="SourceUserUri" description="Email Address" />
      <add name="ChargingParty" description="Email Address" />
      <add name="SourceNumberUri" description="Telephone No" />
      <add name="DestinationNumberUri" description="Destination" />
      <add name="Duration" description="Duration" />
      <add name="Marker_CallToCountry" description="Country" />
      <add name="Marker_CallType" description="Call Type" />
      <add name="Marker_CallCost" description="Cost" />
      <add name="UI_MarkedOn" description="Marked On" />
      <add name="UI_UpdatedByUser" description="Updated By" />
      <add name="UI_CallType" description="Marked As" />
      <add name="AC_DisputeStatus" description="Dispute Status" />
      <add name="AC_DisputeResolvedOn" description="Dispute Resolved On" />
      <add name="AD_UserID" description="Group No." />
      <add name="AD_DisplayName" description="Name" />
      <add name="BusinessCallsCost" description="Business" />
      <add name="PersonalCallsCost" description="Personal" />
      <add name="UnmarkedCallsCost" description="Unallocated" />
    </PDFReportColumnsDescriptions>
  </PDFReportColumnsDescriptionsSection>

  <PDFReportsPropertiesSection>
    <PDFReportsProperties>
      <!-- 
        * columnsNames refer to the list of columns arranged in the pdf report - the schema - which resemble the database table from which the data is fetched.
        * columnsWidths refer to the widths of these listed columns, ordered with respect to the sequence of the listed columns.
      -->
      <add reportName="UserPhoneCalls" columnsNames="ResponseTime,Marker_CallToCountry,DestinationNumberUri,Duration,Marker_CallCost,UI_CallType" columnsWidths="6,3,5,3,3,3" />
      <add reportName="AccountingSummary" columnsNames="AD_UserID,ChargingParty,AD_DisplayName,BusinessCallsCost,PersonalCallsCost,UnmarkedCallsCost" columnsWidths="4,6,6,3,3,4" />
      <add reportName="AccountingDetailed" columnsNames="ResponseTime,Marker_CallToCountry,DestinationNumberUri,Duration,Marker_CallCost,UI_CallType" columnsWidths="7,4,6,4,3,4" />
    </PDFReportsProperties>
  </PDFReportsPropertiesSection>
  
  <system.web>
    <customErrors mode="RemoteOnly" defaultRedirect="Oops">
      <error statusCode="404" redirect="404" />
    </customErrors>
    
    <compilation debug="true" targetFramework="4.5" />
  
    <httpRuntime targetFramework="4.5" />
    
    <!-- This httpHandlers config only required if using IIS6 (or lower) --><!--
    <httpHandlers>
      <add path="*/ext.axd" verb="*" type="Ext.Net.ResourceHandler" validate="false" />
    </httpHandlers>
    --><!-- This httpModules config only required if using IIS6 (or lower) --><!--
    <httpModules>
      <add name="DirectRequestModule" type="Ext.Net.DirectRequestModule, Ext.Net" />
    </httpModules>
    -->
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
        <add namespace="Ext.Net" />
        <!--<add namespace="Ext.Net.MVC"/>-->
      </namespaces>
      
      <controls>
        <add assembly="Ext.Net" namespace="Ext.Net" tagPrefix="ext" />
      </controls>
    </pages>
  </system.web>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.6.0" newVersion="5.5.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <connectionStrings>
    <!-- Please add the connection string with the name set to "ConnectionString" -->
    <clear />
    <!--<add name="LyncConnectionString" connectionString="Provider=SQLOLEDB.1;Data Source=10.1.0.133;Persist Security Info=True;Password='=25_ar;p1100';User ID=sa;Initial Catalog=tBill" />-->
    <add name="ConnectionString" connectionString="Provider=SQLOLEDB.1;Data Source=10.1.60.55;Persist Security Info=True;Password='=25_ar;p1100';User ID=sa;Initial Catalog=tBill" />
  </connectionStrings>

  <appSettings>
    <add key="LocalDomainURI" value="GC://10.1.0.230" />
    <add key="LocalDomainUser" value="RND-Bind" />
    <add key="LocalDomainPassword" value="RNDbind12" />
    <add key="ResourceDomainURI" value="GC://10.1.0.224" />
    <add key="ResourceDomainUser" value="LyncBilling" />
    <add key="ResourceDomainPassword" value="Saddam123!" />
    <add key="ADSearchFilter" value="(&amp;(objectClass=user)(objectCategory=person)(mail={0}))" />
    <add key="MailHost" value="10.1.1.128" />
    <add key="ReplyTo" value="helpdesk@ccc.gr" />
    <add key="NotificationsEmail" value="ebill@ccc.gr" />
  </appSettings>
  
  <!--<extnet theme="Gray" licenseKey="ODUwMzA3OTksMiw5OTk5LTEyLTMx" />-->
  <extnet theme="Crisp" licenseKey="ODUwMzA3OTksMiw5OTk5LTEyLTMx" initScriptMode="Linked" />
  
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="DirectRequestHandler" verb="*" path="*/ext.axd" preCondition="integratedMode" type="Ext.Net.ResourceHandler" />
    </handlers>
    <modules>
      <add name="DirectRequestModule" preCondition="managedHandler" type="Ext.Net.DirectRequestModule, Ext.Net" />
    </modules>
  </system.webServer></configuration>